/* app css stylesheet */

section { margin: 10px 0; }

table { width: 80%; }

tr.odd{ background-color: #DFDFDF; }

td {
  border: 1px solid #000;
  text-align: center;
  word-wrap: break-word;
}
td:nth-child(1),
td:nth-child(2) {
  max-width:160px;
  width: 20%;
}

td:nth-child(3) {
  max-width: 400px;
  width: 50%;
}
td:nth-child(4) { width: 10%; }

.header__title { border-bottom: 2px solid black; }

.error { background-color: #c10101; }
