
<label>Name: <input type='text' ng-model='addFavoriteForm.name' /></label>
<label>Type: <input type='text' ng-model='addFavoriteForm.type' /></label>
<label>Description: <input type='text' ng-model='addFavoriteForm.description' /></label>
<input type='button' ng-click='addFavorite()' value='Add Favorite' />
<ul>
  <li ng-repeat='favorite in favorites'>
    <strong>Name:</strong> {{favorite.name}}
    <strong>Type:</strong> {{favorite.type}}
    <strong>Description:</strong> {{favorite.description}}
  </li>
</ul>
